<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/image/superlock-slide/slide-1-th.jpg" height="300">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/superlock-slide/slide-5-th.jpg" height="300">
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/superlock-slide/slide-7-th.jpg" height="300">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">ABOUT US</h1>
    <hr/>
    <p class="lead text-muted">ก่อตั้งมานานกว่า 30 ปี ส่งออกกว่า 40 ประเทศทั่วโลก ปัจจุบันมีพนักงานมากกว่า 300 คน เราออกแบบและคิดค้นสินค้าด้านนวัตกรรม
      ผลิตภัณฑ์หนึ่งซึ่งเป็นที่รู้จักกันภายใต้ยี่ห้อ Super Lock และ Micronware ทำให้สินค้าไทยโด่งดังไปทั่วโลก</p>
  </div>
</div>


<div class="container">
  <hr/>
  <h1 class="jumbotron-heading text-center">Our Products</h1>
  <hr/>
  <div class="row itemsBlock">
    <div *ngFor="let product of productList;" class="col-sm-4 col-sm-4 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="{{product.picturePath}}" alt="{{product.productName}}" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{product.productName}}</h4>
          <p class="card-text">{{product.productDetail}}</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

</div>
<!-- /container -->